.totalBase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
}
.totalBase h1 {
    color: white;
    margin: 0;
    margin-top: 5px;
}
.baseContainer,
.libraryContainer,
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}
.baseContainer {
    margin-bottom: 30px;
}
.libraryContainer {
    width: 90vw;
    flex-wrap: wrap;
}
.search-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 30px;
}
.search-left h2 {
    color: red;
    margin: 0;
}
.staged {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stageCard {
    width: 10rem;
    height: 10rem;
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 5px 5px 5px blue;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease-out;
    opacity: 0.9;
    margin: 5px;
}
.baseCard {
    width: 10rem;
    height: 10rem;
    transition: all 0.5s ease-out;
    margin: 5px;
}
.baseCard-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 5px blue;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.baseCard img {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}
.base-card-front,
.base-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.base-card-back {
    color: black;
    transform: rotateY(180deg);
    font-size: 10px;
}
.base-card-front h4 {
    margin: 5px;
    padding: 0;
}
.base-card-back h2 {
    margin: 3px;
}
.cardUpdate,
.cardDelete {
    border-style: 2px solid black;
    border-radius: 10px;
    background: none;
    position: relative;
    transition: all 0.5s ease-out;
    margin: 2px;
}

.cardUpdate {
    background: rgb(73, 189, 73);
}

.cardDelete {
    background: #ff0800;
}

.input {
    background: white;
    border-style: 2px solid black;
    border-radius: 8px;
    height: 1.5rem;
}

.submit {
    background: rgb(96, 200, 96);
    border-style: 2px solid black;
    border-radius: 8px;
    height: 1.75rem;
}