.totalBase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
}
.baseContainer,
.libraryContainer,
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.libraryContainer {
    width: 90vw;
    flex-wrap: wrap;
}
.search-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.search-left h2 {
    color: red;
}
.staged {
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseCard {
    border: 2px solid black;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 5px 5px 5px blue;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.5s ease-out;
    opacity: 0.9;
}
.baseCard img {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}
.baseCard h4 {
    margin: 5px;
    padding: 0;
}
.cardUpdate,
.cardDelete {
    border-style: 2px solid black;
    border-radius: 10px;
    background: none;
    position: relative;
    transition: all 0.5s ease-out;
    margin: 2px;
}

.cardUpdate {
    background: rgb(73, 189, 73);
}

.cardDelete {
    background: #ff0800;
}

.input {
    background: white;
    border-style: 2px solid black;
    border-radius: 8px;
    height: 1.5rem;
}

.submit {
    background: rgb(96, 200, 96);
    border-style: 2px solid black;
    border-radius: 8px;
    height: 1.75rem;
}