.teamRoster, .enemyRoster {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 20vh;
}
.teamImgs, .teamStats {
    display: flex;
    flex-direction: column;
    width: 20vh;
}
.teamCardStats {
    outline: 0.1rem solid black;
    height: 14vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamCardStats h5 {
    margin: 0;
    padding: 0;
}
.teamRoster {
    margin-right: 10rem;
}
.enemyRoster {
    margin-left: 10rem;
}
.teamCard {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 10%;
    box-shadow: 5px 5px 5px blue;
    background: white;
    transition: all 0.5s ease-out;
    margin: 5px;
}
.teamCard p {
    font-size: 10px
}
.teamCard button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
}
.teamImg {
    width: 5vh;
    height: auto;
    margin: 0;
    padding: 0;
}
h4 {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
}
.xImg {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 2;
}
